Source: oi-help-compiler
Section: host/tools
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Build-Depends: debhelper
XCS-Cross-Host-Build-Depends: debhelper
Priority: optional
Standards-Version: 3.8.0

Package: oi-help-compiler
Architecture: all
Depends: ${python:Depends}
Description: Compiler from/to gettext .po format, to internal OI help format
